#truckList {
    color: black;
}

.underline-input {
    border-bottom: 1px solid #9e9e9e !important;
}

.header-full {
    width:100%
}

.collapsible-container {
    width: 100%;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.notification-ok {
    color: #0f9d58;
}

.notification-bad {
    color: #d0181e;
}
